[submodule "Sample/Vendor/Quick"]
	path = Tests/Vendor/Quick
	url = git@github.com:Quick/Quick.git
[submodule "Sample/Vendor/Nimble"]
	path = Tests/Vendor/Nimble
	url = git@github.com:Quick/Nimble.git
